html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #666;
    color: #fff;
}

* {
  box-sizing: border-box;
}

@layer base {
  p {
    @apply pb-4;
  }
  
  ul {
    @apply pb-4 pl-4 list-disc list-outside;
  }
}