
.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

nav {
  box-shadow: 0px 10px 25px 0px rgb(18 18 18 / 5%);
}