@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    color: #666;
    font-weight: 300;
}

* {
  box-sizing: border-box;
}

/* Typography */
h1,h2,h3,h4,h5,b,strong {
  font-weight: 500;
}
.font-200 {
  font-weight: 200;
}
.font-300 {
  font-weight: 300;
}
.font-500 {
  font-weight: 500;
}

@layer base {
  p {
    @apply pb-4;
  }
  
  ul {
    @apply pb-4 pl-4 list-disc list-outside;
  }
}

.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
